<h4>Los productos del carrito {{cartID}} son: :O</h4>

{{#each products}}
<div>
    <h3>{{name}}</h3>
    <p>Descripción: {{description}}</p>
    <p>Precio: {{price}}</p>
    <p>Stock: {{stock}}</p>
    <img src="{{thumbnail}}" alt="{{description}}">
</div>
{{/each}}

<!--
{{#each products}}
<div>
    <h3>{{product.title}}</h3>
    <p>Descripción: {{product.description}}</p>
    <p>Precio: {{product.price}}</p>
    <img src="{{product.thumbnail}}" alt="{{product.description}}">
    <p>Code: {{product.code}}</p>
    <p>Stock: {{product.stock}}</p>
    <p>Quantity: {{quantity}}</p>
</div>
{{/each}}
-->