<h2>Los Productos disponibles</h2>
{{#each products}}
<div>
    <h3>{{title}}</h3>
    <p>Descripción: {{description}}</p>
    <p>Precio: {{price}}</p>
    <p>Stock: {{stock}}</p>
    <p>Category: {{category}}</p>
    <img src="{{thumbnail}}"  width="100" alt="{{description}}">
    <button>Agregar a carrito</button>
</div>
{{/each}}