<h4>Los Productos disponibles</h4>
{{#each products}}
<div>
    <h3>{{name}}</h3>
    <p>Descripción: {{description}}</p>
    <p>Precio: {{price}}</p>
    <p>Stock: {{stock}}</p>
    <img src="{{thumbnail}}" alt="{{description}}">
</div>
{{/each}}